.animation {
  position: absolute;
  animation-timing-function: ease;
}

.animation--time {
  animation-duration: 400ms;
}

.animation__slideFromLeftToRight {
    animation-name: slideFromLeftToRight;
  }
  
  @keyframes slideFromLeftToRight {
    0% {
      left: -251px;
    }
    100% {
      left: 0px;
    }
  }
  
  .animation__slideFromZeroToRight {
    animation-name: slideFromZeroToRight;
  }
  
  @keyframes slideFromZeroToRight {
    0% {
      left: 0px;
    }
    100% {
      left: 251px;
    }
  }

.animation__slideFromRightToLeft {
    animation-name: slideFromRightToLeft;
  }
  
  @keyframes slideFromRightToLeft {
    0% {
      left: 251px;
    }
    100% {
      left: 0px;
    }
  }
  
  .animation__slideFromZeroToLeft {
    animation-name: slideFromZeroToLeft;
  }
  
  @keyframes slideFromZeroToLeft {
    0% {
      left: 0px;
    }
    100% {
      left: -251px;
    }
  }